<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body class="container">
    <header>{{> header}}</header>
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        {{> sidebar }}
      </div>
      <div class="col-xs-12 col-sm-10">
        <div class="row">
          {{{body}}}
        </div>
      </div>
    </div>
    <footer>{{> footer}}</footer>
  </body>
</html>
