<div class="row post-container">
  <div class="dashboard-list ">
    {{> project-list}}
  </div>

  <!-- New Post button -->
  <div class="col-xs-12">
    <a href="/NewPost" class="btn btn-primary btn-block mb-4">+ Create Post</a>
  </div>
</div>

<script src="./js/dashboard.js"></script>
