<div class="row post-container">
  <div class="project-container col-sm-12">
    <div class="post-wrapper">
      <div class="row">
        <div class="post-header col-sm-12">
            <div class="row">
              <div class="project-name col-sm-7">Login</div>
            </div>
        </div>
      </div>
      <div class="post-content row">
        <form enctype="multipart/form-data" method="POST">
          <div class="form-outline mb-4">
            <input type="email" name="email" id="form-email" class="form-control" />
            <label class="form-label" for="">Email Address</label>
          </div>
          <div class="form-outline mb-4">
            <input type="password" name="password" id="form-password" class="form-control" />
            <label class="form-label" for="">Password</label>
          </div>
          <button id="login-button" type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

          <div class="text-center">
            <p>Not a member? <a href="/register">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>
